body{
    background-color: black;
    font-family: sans-serif;
    color: white;
}
.card{
    background-color: coral;
    text-align: center;
    width: 600px;
}
h1{
    padding-top: 10px;
    font-size: 27px;
    margin: 0;
}
h2{
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 2px;
}
p{
    font-size: 13px;
    padding: 20px;
    background-color: lightcoral;
}